<h1 class='p-2'>Task report</h1>

<table class='table'>
  <thead>
    <tr>
      <th class='p-1'>Tasks (ID):</th>
      <th class='p-1'>Comments:</th>
      <th class='p-1'>Status:</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class='p-1'><%= task.id %></td>
        <td class='p-1'><%= task.comments.pluck(:body).join('') %></td>
        <td class='p-1'><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Export PDF document', report_path(format: 'pdf'), class:'btn btn-primary ml-1' %>