<h1>User task report</h1>

<table>
  <thead>
    <tr>
      <th class='p-1'>Tasks (ID):</th>
      <th class='p-1'>Comments:</th>
      <th class='p-1'>Status:</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class='p-1'><%= task.id %></td>
        <td class='p-1'><%= task.comments.pluck(:body).join('') %></td>
        <td class='p-1'><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  h1 {
    text-align: center;
    color: black;
    margin-bottom: 50px;
  }
  table {
    width: 100%;
  }
  th {
    text-align: left;
    color: black;
    padding-bottom: 15px;
  }

</style>